{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": ["*.json"],
      "options": {
        "parser": "json",
        "printWidth": 20
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
